div #display {
    width: max-content;
}

div #content {
    width: fit-content;
    column-count: 2;
    column-gap: 80px;
    margin-right: -80px;
}

div #header {
    padding-bottom: 5px;
    color: var(--color-text);
    font-family: var(--font-primary), Arial, Helvetica, sans-serif;
    font-size: var(--font-size-small);
    font-weight: 400;
    border-bottom: 1px solid var(--color-text-dimmed);;
    line-height: 15px;
    padding-bottom: 5;
    margin-bottom: 10;

}

div #events {
    text-align: left;
    color: var(--color-text-bright);
}

div #dates {
    color: var(--color-text);
    width: max-content;
    text-align: right;
    font-weight: 300;

}